body{
    margin: 0px;
    padding: 0px;
}
#navbar{
    background-color: #333;
    padding: 0px;
    margin: 0px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}
#navbar li{
    list-style-type: none;
    text-align: center;   
    display: inline;
    float: left;
}

#navbar li:hover{
    background-color: #111;
}

#navbar li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

section.intro{
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

}
section.intro div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.intro h1{
    font-family: 'Zilla Slab', serif;
    color:darkgoldenrod;
    font-size: 200%;
    text-align: center;
    max-width: fit-content;
    align-items: center;
}
section.intro img{
    border-radius: 50%;
    max-width: 250px;
}

section.intro ul li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 50px;
    list-style-type: none;
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 768px){
    section.intro{
        flex-direction: column;
    }
    section.intro img{
        max-width: 200px;
    }
    section.intro ul li, section.intro ul{
        padding-left: 0px;
    }
    section.intro ul li{
        text-align: center;
       
    }
}

/*skills and certifications*/
main.skillscerts ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 0px;
}

main.skillscerts ul li{
    list-style-type: none;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 0px;
}

section.skills{
    width: 100%;
    height: 100%;
    border-right: 3px solid rgba(0, 0, 0, 0.466);
    box-sizing: border-box;
}

section.skills h2, section.certs h2{
    text-align: center;
    color: rgb(0, 0, 0);
}

section.skills div{
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.skillstooltip .tooltip{
    visibility: hidden;
    width: 80px;
    background-color:rgba(0, 0, 0, 0.7);
    color: seashell;
    text-align: center;
    border-radius: 5px;
    position:absolute;
    z-index: 1;
    padding: 5px;
    bottom: 85%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: 0.3s;
}

.skillstooltip .tooltip::after{
    content: "";
    top:100%;
    left: 50%;
    position: absolute;
    border: 5px solid;
    border-color:  rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

.skillstooltip img{
    margin: 2rem;
}
.skillstooltip:hover .tooltip{
    visibility: visible;
    opacity:1;
}

section.certs{
    width: 100%;
    height: 100%;
    border-left: 3px solid rgba(0, 0, 0, 0.466);
    box-sizing: border-box;
}

section.certs ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.certs ul li{
    max-width: 10rem;
    list-style-type: none;
    margin: 5px;
}

section.certs ul a{
    text-decoration: none;
    color: black;
}

.certcards{
    width:120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.certcards:hover{
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.4);
}

.certcards:active{
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.8);
}

.certcards img{
    border-radius: 10px;
    width: 30px;
    padding: 5px;
}

.certcards b{
    padding: 0 5px 5px 5px;
    text-align: center;
}


/*Projects*/
section.projects{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section.projects h2{
    text-align: center;
    color: rgb(0, 0, 0);
}

section.projects ul{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items: center;
    list-style-type: none;
    padding: 0px;
}

section.projects ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 2%;
}
.projectcards{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2)
}

.projects ul a{
    text-decoration: none;
    color: black;
}

.projectcards:hover{
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.4);
}

.projectcards:active{
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.8);
}

.projectcards img{
    border-radius: 10px;
    width: 60px;
}

.projectcards b{
    max-width: 200px;
    padding: 10px;
    text-align:center;
}

.timeline {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    right: 0;
    top: 5%;
    background-color: black;
}
.education {
    position: relative;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2)

}
.education:hover{
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.4);
}

.education:active{
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.8);
}
.education::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color:cornsilk ;
    border-radius: 50%;
    left: 50%;
    top: 0px;
    margin: -8px 0 0 -8px;
    border: 4px solid cornflowerblue;
}

.education h3, .education p, .studies h2 {
    text-align: center;
}


#footer{
    background-color: #333;
    height: 50px
}
#footer nav a{
    margin: 0px 20px;
}
#footer nav a img{
    margin-top: 10px;
}
#footer nav a img:hover{
    margin-top: 10px;
    width: 36px;
}
#footer b{
    color: white;
}

@media (max-width:768px){
    main.skillscerts ul{
        flex-direction: column;
    }
    main.skillscerts ul li{
        width: 100%;
    }
    section.skills::after{
        content: "";
    }
    section.skills{
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.414);
        border-right: 0px;
    }
    section.certs{
        border-left: 0px;
    }
    section.certs ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projectcards{ 
        width: 80vw;
    }

    .timeline {
        flex-direction: column;
    }
    
    .timeline::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        left: 25px;
        top: 0;
        bottom: 0;
        background-color: black;
    }

    .education {
        margin-left: 50px;
        border-radius: 10px;
        width: 18rem;
    }
    .education::before {
        left: -25px;
        top: 50%;
        margin-left: -5px;
    }
    
    .education h3, .education p {
        text-align: left;
    }

}